@charset "UTF-8";

@media screen and (min-width: 768px) {
    .conteudo {
        width: 60%;
        padding: 20px;
    }

    .conteudo h1 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    .conteudo input[type=number] {
        width: 60%;
        padding: 10px;
    }
}

@media screen and (min-width: 1024px) {
    #container {
        background-position: left;
    }

    .conteudo {
        width: 50%;
        padding: 30px;
        align-items: flex-start;
    }

    .conteudo h1 {
        font-size: 3em;
        margin-bottom: 20px;
    }

    .conteudo label {
        font-size: 2em;
    }

    .conteudo input[type=number] {
        width: 70%;
        padding: 12px;
    }
}

@media screen and (min-width: 1200px) {
    .conteudo {
        width: 45%;
    }

    .conteudo h1 {
        font-size: 4vw;
        margin: 10px 15px;
        margin-bottom: 25px;
    }

    .conteudo label {
        margin-left: 15px;
        font-size: 2em;
    }

    .conteudo input[type=number] {
        width: 80%;
        padding: 12px;
    }

    .conteudo button {
        padding: 15px 20px;
        margin: 0 0 10px 15px;
        font-size: 1.5em;
    }
}
